@{
    ViewData["Title"] = "Home Page";
}

<div class="container-md">
    <div class="col">
        <a asp-controller="Member" asp-action="Index"><div class="col-md-12 border-black text-center my-5 header-tag"><i class="fas fa-users"></i> VIEW MEMBERS</div></a>
        @if (ViewBag.UserId == 0)
        {
            <a asp-controller="Product" asp-action="Index"><div class="col-md-12 border-black text-center my-5 header-tag"><i class="fas fa-box"></i>  VIEW PRODUCTS</div></a>
        }
        <a asp-controller="Order" asp-action="Index"><div class="col-md-12 border-black text-center my-5 header-tag"><i class="fas fa-file-invoice"></i> VIEW ORDERS</div></a>
        <a asp-controller="OrderDetail" asp-action="Index"><div class="col-md-12 border-black text-center my-5 header-tag"><i class="fas fa-file-invoice"></i> VIEW ORDER DETAILS</div></a>
    </div>
</div>

