html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.nav-link {
    color: black;
}

.nav-item{
    padding-left: 2rem;
}

.active {
    text-decoration: underline;
    color: orange;
}

.short{
    max-width: 5em;
    line-height: 1em;
    margin: 0;
}

.long-hr{
    width: 100%;
}

.form-item {
    margin-right: 11rem;
}